{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class=" mt-5 pt-5 d-flex justify-content-center">
        <div class=" w-50 row row-cols-3 gab-3">
            {% for p in products  %}
                <div class="card rounded-5 m-3 text-center" style="width: 18rem; background: #F6DEFF;">
                    <img src="img/{{ p.picture }}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">&euro;{{ p.price }}</h5>
                        <p id="card-text" class="card-text text-wrap">{{ p.details }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}
